<% provide(:title, "Assign TAs to Courses") %>

<div class="container" id="assign">
	<h2> Assign TA's to Courses</h2>

	<div id="home_button" class="col-md-12">
      <div class = "row">
        <%= link_to "Home Page", "/admin/home", :class => "btn btn-default", :method => :get %>
      </div>
    </div>

	<% @courses.each do |course| %>
		<div class="col-md-6" id="scroll-bar"> 
			<h4><%= link_to course.course_name, "/courses/#{course.id}", :id => "assign_button", :class => "btn btn-default", :method => :get %></h4>

			<% @apps=ApplicationCourse.joins(:application).select(:application_id).where(:course_id => course.id, :taught_teach_take_want => 'want')%>
			<% @apps.each do |person| %>
				<% @this=Application.select(:first_name, :last_name).where(:id => person.application_id)%>
				<h6><%= @this.first.first_name %>  <%= @this.first.last_name %></h6>
			<% end %>
		</div>
	<% end %>
</div>