body
{
	background: #F1B82D ;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
}

#content
{
	background:#fff;
	border: solid grey 4px;
	box-shadow: 0px 0px 20px black;
	margin:0 auto;
	text-align:left;
	width:640px;
	padding: 20px 20px 20px 20px;
}
 
 
h1
{
	 background:#fff;
	margin:0 auto;
	text-align:center;
	padding: 20px 20px 20px 20px;
	
}

