<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>COMPUTER SCIENCE DEPARTMENT</title>


<link rel="stylesheets" type="text/css" href="form.css.scss" media="all">



<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="calendar.js"></script>
</head>
<body id="main_body" >
	
	<%= image_tag("top.png")%>
	<div id="form_container">
	
		<h1><a>COMPUTER SCIENCE DEPARTMENT</a></h1>
		<%= form_for(@application) do |f| %>
		<!--<form id="form_993262" class="appnitro"  method="post" action="">-->
		<div class="form_description">
			<h2>COMPUTER SCIENCE DEPARTMENT</h2>
			<p>GRADUATE TEACHING ASSISTANT APPLICATION</p>
		</div>						
		<% end %>
	</div>
	<%= image_tag("bottom.png")%>
	</body>
</html>