<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>COMPUTER SCIENCE DEPARTMENT</title>
<link rel="stylesheets" type="text/css" href="form.css.scss" media="all">
<script type="text/javascript" src="view.js"></script>
<script type="text/javascript" src="calendar.js"></script>
</head>
<body id="main_body" >
	
	<%= image_tag("top.png")%>
	<div id="form_container">
	
		<h1><a>COMPUTER SCIENCE DEPARTMENT</a></h1>
		<form id="form_993262" class="appnitro"  method="post" action="">
					<div class="form_description">
			<h2>COMPUTER SCIENCE DEPARTMENT</h2>
			<p>GRADUATE TEACHING ASSISTANT APPLICATION

</p>
		</div>						
			<ul >
			
					<li id="li_6" >
		<label class="description" for="element_6">Please indicate the position you are applying for: </label>
		<div>
		<select class="element select medium" id="element_6" name="element_6"> 
			<option value="" selected="selected"></option>
<option value="1" >TA (grad student)</option>
<option value="2" >PLA (undergrad student)</option>

		</select>
		</div> 
		</li>		<li id="li_1" >
		<label class="description" for="element_1">Name: </label>
		<div>
			<input id="element_1" name="element_1" class="element text large" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">ID: </label>
		<div>
			<input id="element_2" name="element_2" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">GPA </label>
		<div>
			<input id="element_3" name="element_3" class="element text small" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">If undergraduate applying for PLA, indicate program and level (ex. CS BA jr): </label>
		<div>
			<input id="element_4" name="element_4" class="element text small" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_17" >
		<label class="description" for="element_17">If graduate: </label>
		<span>
			<input id="element_17_1" name="element_17_1" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_17_1">MS</label>
<input id="element_17_2" name="element_17_2" class="element checkbox" type="checkbox" value="1" />
<label class="choice" for="element_17_2">PhD</label>

		</span> 
		</li>		<li id="li_7" >
		<label class="description" for="element_7">Advisor's Name: </label>
		<div>
			<input id="element_7" name="element_7" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Phone </label>
		<span>
			<input id="element_8_1" name="element_8_1" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_8_1">(###)</label>
		</span>
		<span>
			<input id="element_8_2" name="element_8_2" class="element text" size="3" maxlength="3" value="" type="text"> -
			<label for="element_8_2">###</label>
		</span>
		<span>
	 		<input id="element_8_3" name="element_8_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_8_3">####</label>
		</span>
		 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Mizzou Email Address: </label>
		<div>
			<input id="element_9" name="element_9" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">Anticipated Graduation Date: </label>
		<span>
			<input id="element_10_1" name="element_10_1" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_10_1">MM</label>
		</span>
		<span>
			<input id="element_10_2" name="element_10_2" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_10_2">DD</label>
		</span>
		<span>
	 		<input id="element_10_3" name="element_10_3" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_10_3">YYYY</label>
		</span>
	
		<span id="calendar_10">
			<img id="cal_img_10" class="datepicker" src="calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
			Calendar.setup({
			inputField	 : "element_10_3",
			baseField    : "element_10",
			displayArea  : "calendar_10",
			button		 : "cal_img_10",
			ifFormat	 : "%B %e, %Y",
			onSelect	 : selectDate
			});
		</script>
		 
		</li>		<li id="li_11" >
		<label class="description" for="element_11">Course(s) You Are Currently Teaching: </label>
		<div>
			<input id="element_11" name="element_11" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_12" >
		<label class="description" for="element_12">Course(s) You Have Previously Taught: </label>
		<div>
			<input id="element_12" name="element_12" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_13" >
		<label class="description" for="element_13">Course(s) You Would Like to Teach (must have taken previously), include grades received: </label>
		<div>
			<textarea id="element_13" name="element_13" class="element textarea medium"></textarea> 
		</div> 
		</li>		<li id="li_14" >
		<label class="description" for="element_14">Other Places You Work: </label>
		<div>
			<input id="element_14" name="element_14" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_16" >
		<label class="description" for="element_16">SPEAK/OPT score, if applicable: </label>
		<div>
			<input id="element_16" name="element_16" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_15" >
		<label class="description" for="element_15">Semester of last test: </label>
		<div>
			<input id="element_15" name="element_15" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_18" >
		<label class="description" for="element_18"> resume: </label>
		<div>
			<input id="saveForm" class="button_text" type="Submit" name="upload" value="Upload" />
			<input type="hidden" name="form_id" value="993262" />
		</div> 
		</li> 
	

<li id="li_19" >
		<label class="description" for="element_19">Please note the following:</label>
</li>	
<li id="li_20" >
		<label class="description" for="element_20">1. Please list the courses that you'd like to be a TA for.</label>
</li>	
<li id="li_21" >
		<label class="description" for="element_21">2. Per CS Dept. policy, GTA’s must not exceed half-time total employment within the University system including, but not limited to, the CS department.</label>
</li>
<li id="li_22" >
		<label class="description" for="element_22">3. New TAs, ITAs, and PLAs who have received an appointment, are required to participate in the GATO (Graduate Assistant Teaching Orientation), which is offered just prior to the start of fall and winter terms. (You do not need to attend more than once.) </label>
</li>
<li id="li_23" >
		<label class="description" for="element_23">4. INTERNATIONAL STUDENTS, PLEASE BE AWARE OF THE FOLLOWING: </label>
</li>
<li id="li_24" >
		<label class="description" for="element_24">A. Prior to becoming a TA, any ITA (International Teaching Assistant) who received their primary and secondary education in a country where English is not the principal language are required by law to be assessed for English proficiency (SPEAK test).</label>
</li>
<li id="li_25" >
		<label class="description" for="element_25">B. If you do not register for and satisfy applicable language assessment requirements, you will not be eligible to accept a TA appointment. Arrangements for language assessments must be made before the end of the semester prior to accepting a TA position. </label>
		<label class="description" for="element_25"><input type="checkbox" name="checkbox" value="value">Requirement met</label>
		<label class="description" for="element_25"><input type="checkbox" name="checkbox" value="value">Registered for SPEAK (date)</label>
		</label>
</li>
</span>
<li id="li_26" >
		<label class="description" for="element_26"> C. A potential ITA is required to have satisfactorily completed at least one semester as a student at the University of Missouri before being considered for a TA position.</label>
</li>
<li id="li_27" >
		<label class="description" for="element_27"> D. New TAs, ITAs, and PLAs who have received an appointment, are required to participate in the GATO (Graduate Assistant Teaching Orientation), which is offered just prior to the start of fall and winter terms. (You do not need to attend more than once.)</label>
		<label class="description" for="element_27"><input type="checkbox" name="checkbox" value="value">Requirement met</label>
		<label class="description" for="element_27"><input type="checkbox" name="checkbox" value="value">Will attend in Aug/Jan (if selected)</label>
</li>
<li id="li_28" >
		<label class="description" for="element_28"> E. ONITA, is a requirement for all international TAs and PLAs who have not previously attended this orientation.</label>
</li>
<li id="li_30" >
		<label class="description" for="element_30"> F. You cannot have a TA/PLA appointment until this requirement has been met. (You do not need to attend more than once.)</label>
		<label class="description" for="element_30"><input type="checkbox" name="checkbox" value="value">Requirement met</label>
		<label class="description" for="element_30"><input type="checkbox" name="checkbox" value="value">Will attend in Aug./Jan. (if selected)</label>
</li>

<li class="buttons">
<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
<input type="hidden" name="form_id" value="993262" />
</li>

</form>
	<div id="footer">
	</div>
	</div>
	<%= image_tag("bottom.png")%>
	</body>
</html>