<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="log.css" media="all">
<script type="text/javascript" src="log.js"></script>
</head>

<body id="main_body" >
    <div class="container">

    <form id="signup">

        <div class="header">
        
            <h3>Log In</h3>
            
            
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">
        
            <input type="email" placeholder="e-mail" autofocus />
        
            <input type="password" placeholder="Password" />
            
            <div class="checkboxy">
                <input name="cecky" id="checky" value="1" type="checkbox" /><label class="terms">Remember User Name</label>
            </div>
             <p class="login-submit">
            <a id="submit" href="#">Submit<a href=taapp/form></a>
            <a id="submit" href="#">Register<a href=taapp/register></a>
             </p>
        </div>

    </form>

</div>
​
      </body>
      </html>

