<% provide(:title, 'All applications') %>
<h2>All Applicants</h2>


<ul class="users">
 
      <%#= gravatar_for user, size: 50 %>
       <%#= link_to "New User", "users/new", :class => "btn btn-default", :method => :get %>
      <%= link_to User.show(:student_id=12345678),:class => "btn btn-default", :method => :get %>
     
  
</ul>



