<!DOCTYPE HTML>
  <!-- Comment -->
<html lang="en">

<head> 

<link rel="stylesheet" href="css/bootstrap.min.css"> 
<link rel="stylesheet" href="professor.css">

<!-- Meta Data for the Robots-->
	<meta charset="UTF-8"/>
	<meta name="description" content="description of everything you will cover" />
	<meta name="keywords" content="college, university, search, gpa, school, tuition" />

<link rel="stylesheet" href="styles.css"/>

<title> Professor Account || Home </title>
</head>
<body>
<div id="wrapper">
<!--Structuring our data <div id="wrapper">-->
	<header>
	<div class="jumbotron">
		<h1> My Account </h1>
	</div> 
	</header>
	


<br>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
	
			<a href="file">  View Applicants </a>
			
			<a href="file2">  Rate Applicants  </a>
			
			<a href="file3">   Inbox  </a>
			
			<a href="file4">  Account Information  </a>
			
  </div>
</nav>
<br>
	
	<br>
	<br>
	<main id="content">  <!-- Holds the main content of this page --> 
	
	<br>
	<button type="button" class="btn btn-primary btn-lg btn-block">VIEW ALL APPLICANTS </button>
	<br>
	<button type="button" class="btn btn-primary btn-lg btn-block">RATE PREVIOUS APPLICANTS </button>
	
	
	</main>
	
	
	
	
</div>
</body>

