<% provide(:title, 'All applications') %>


<h2>All Applicants</h2>
<head>
<style>
table  {
    width: 90%; 
    border: 1px solid black;
    border-collapse: collapse;
   
}
th,td {
    
    padding: 10px;
}



table#t01 tr:nth-child(even) {
   
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
    
   background-color:#fff;
}
table#t01 th	{
    
    background-color: black;
    color: white;
    text-align:center;
}
</style>
</head>

<ul class="users">
  
    <table id="t01">
    <tr>                          
    <th> FisrtName </th>
    
    <th> LastName </th>
    
    <th> StudentID </th>
    
    <th> Score </th>
   
    </tr>

      <%#Application.joins(:application_courses).where("taught_teach_take_want = 'want' AND course_id = ?", params[course_select]).distinct>%>

      <% @applications.each do |application| %>
     

      <tr>
      <td><%= link_to application.first_name %></td>
      <td><%= link_to application.last_name %></td>
      <td><%= link_to application.student_id %></td>
      <td><%#= link_to ratings.find_or_create_by(first_name: 'application.first_name') %></td>
      </tr>
   
  <% end %>
    </table> 


</ul>

