<% provide(:title, 'All applications') %>

<h2>All Applicants</h2>


<ul class="users">
  <% @users.each do |user| %>
    <li>
     
      <%= link_to user.first_name, :class => "btn btn-default", :method => :get %>
      <%= link_to user.last_name, :class => "btn btn-default", :method => :get %>
     
    </li>
  <% end %>


</ul>

