<% provide(:title, 'All applications') %>

<link rel="stylesheets" type="text/css" href="professor.css.scss" media="all">
<h2>All Applicants</h2>


<ul class="users">
    <table border="1", style="width:100%">
    <tr>                          
    <th> Fist Name </th>
    
    <th> Last Name </th>
    
    <th> Student ID </th>
    </tr>
      <% @users.each do |user| %>
     
      <tr>
      <td><%= link_to user.first_name %></td>
      <td><%= link_to user.last_name %></td>
      <td><%= link_to user.student_id %></td>
      </tr>
   
  <% end %>
    </table> 


</ul>

